.Navbar {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 125px;
  position: absolute;
  right: 0;
  top: 60px;
  font-size: 20px;
  border: 1px solid grey;
  border-radius: 5px;
}

.Navbar-Link {
  margin: 10px;
  color: #82B9F6;
}